
{% extends "AntiRubbish/base.html" %}

{% load static %}

{% block content %}


<br>


<style>
  body {

    background: #5A3F37;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C7744, #2b6eca);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C7744, #2b6eca);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
</style>


<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card border-success mb-3" style="max-width:40rem;">
        <div class="card-header">Hartie/pag1</div>
        <div class="card-body text-success">
          <h5 class="card-title">Introducere: </h5>
          <p class="card-text">
            E imposibil să nu dai de ea, pe stradă, în parcuri, pe marginea drumurilor de țară.
            Hârtia se degradează repede și din acest punct de vedere nu poluează (prea) mult, dar consumă o resursă
            naturală
            extrem de importantă: nu copacii, ci apa.
            E drept sunt tăiați și copaci, dar nu aceasta este principala amenințare la adresa mediului Pentru
            producerea unei tone de hârtie e nevoie de
            325 de litri de apă sunt utilizați pentru a produce un singur kilogram de hârtie.
          </p>
          <hr>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-success mb-3" style="max-width:40rem;">
        <div class="card-header">Hartie/pag2</div>
        <div class="card-body text-success">
          <h5 class="card-title">Producție:</h5>
          <p class="card-text">De asemenea, producția de hârtie
            poluează aerul și apele curgătoare.
            Hârtia are o durată de viață redusă; cea de înaltă calitate, cum este hârtia pentru imprimante, poate fi
            reciclată de
            maximum 5-7 ori, după care fibrele de celuloză se scurtează prea mult; în acest stadiu, produsul reciclat
            este de
            obicei folosit la cartoanele de ouă. Cartonul, pe de altă parte, este produs din celuloză cu fibre scurte,
            astfel că
            poate fi reciclat de mai multe ori.</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-success mb-3" style="max-width:40rem;">
        <div class="card-header">Hartie/pag3</div>
        <div class="card-body text-success">
          <h5 class="card-title">Reciclare: </h5>
          <p class="card-text">Însă, cum se reciclează? Simplu: prin mărunțire și topire într-un amestec de apă și
            diverse substanțe chimice care
            elimină cernelurile, impuritățile, cleiul (în cazul cărților) și alte materiale (capsele metalice). Apoi se
            adaugă
            diferite substanțe, în funcție de ce fel de produs trebuie fabricat, iar materialul este întins sub forma
            unor benzi
            foarte late de hârtie, care sunt lăsate să se usuce. Apoi rulate în suluri și transportate la tipografii.
          </p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}


