

{% extends "AntiRubbish/base.html" %}

{% load static %}

{% block content %}

<link href="{% static 'index.css' %}" rel="stylesheet">

<body
  style="background-image: url('{% static 'img/background.jpg' %}');background-repeat:no-repeat; background-size: 100%;">
</body>



<h1>

  <a href="/app">Let's Help Nature</a>
  <hr>

</h1>

<div class="space">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>

<br>

<div class="fixed-bottom">
  <div class="card">
    <div class="card-header">
      About:
    </div>
    <div class="card-body">
      <p class="card-text"><strong>AntiRubbsih <br>
          Creat cu scopul informǎri populației României
        </strong></p>
    </div>
  </div>

</div>


{% endblock %}
