{% extends "AntiRubbish/base.html" %}

{% load static %}

{% block content %}


<style>
  body {

    background: #5A3F37;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C7744, #2b6eca);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C7744, #2b6eca);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
</style>

<br>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card border-success mb-3" style="max-width:40rem;">
        <div class="card-header">Mancare/pag1</div>
        <div class="card-body text-success">
          <h5 class="card-title">Risipă</h5>
          <p class="card-text">
            Risipa de alimente din România reprezintă o problemă socială majoră: aruncăm anual cca 250 kg de
            alimente/locuitor
            (peste media europeană), în timp ce 4,74 milioane de persoane (un sfert din populația României) trăiesc la
            limita
            sărăciei şi au dificultăţi în asigurarea hranei.
            România se situează la media clasamentului european în ceea ce privește cantitatea de alimente pe care o
            aruncă. O lege
            privind diminuarea risipei alimentare a fost adoptată în România în 2016, actul normativ reglementând în
            special cum ar
            trebui să procedeze operatorii economici astfel încât alimentele să nu ajungă la gunoi.</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-success mb-3" style="max-width:40rem;">
        <div class="card-header">Mancare/pag2</div>
        <div class="card-body text-success">
          <h5 class="card-title">Regulamente</h5>
          <p class="card-text">Deși Legea 217 a fost publicată
            pe 17 noiembrie 2016, normele metodologice de aplicare au fost reglementate de Guvern abia 8 februarie 2019.
            Produsele alimentare excedentare și neexpirate se vor dona, pe cât posibil, unor centre de copii, cămine de
            bătrâni,
            persoane aflate în dificultate sau vor fi direcționate către adăposturi de animale. De asemenea, pot fi
            direcționate
            către organizații de caritate pentru a fi distribuite către locațiile menționate anterior.
            Resturile organice vegetale se pot composta în curtea casei, într-un colț amenajat special, sau la grădini
            urbane
            comunitare.</p>
          <hr>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card border-success mb-3" style="max-width:40rem;">
        <div class="card-header">Mancare/pag3</div>
        <div class="card-body text-success">
          <h5 class="card-title">Ce sa faci</h5>
          <p class="card-text">În cazul în care deșeurile vegetale se compostează în curtea casei, se va încerca
            amestecarea resturilor „verzi” (coji
            de legume, pulpă fructe) cu cele ”uscate” (frunze și flori veștejite), asigurându-se astfel un echilibru al
            nutrienților
            compostului (azot, fosfor, potasiu). Compostul obținut după câteva luni de la colectare se poate folosi ca
            îngrășământ
            în grădina proprie sau cea comunitară. Pe langa asta, un camion de deșeuri organice poate genera energie
            care să
            alimenteze 20.000 TV timp de 1 oră, deci nu ezitați sa reciclati deseurile organice.</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}

 

