{% extends "AntiRubbish/base.html" %}

{% load static %}

{% block content %}


<style>
    body{

        background: #5A3F37;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C7744, #2b6eca);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C7744, #2b6eca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }
</style>

<br>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
<div class="card border-success mb-3" style="max-width:40rem;">
  <div class="card-header">Metale/pag1</div>
  <div class="card-body text-success">
    <h5 class="card-title">Problema</h5>
    <p class="card-text"> Din punctul de vedere al cantității, bateriile uzate aruncate nu reprezintă o problemă, însă compensează prin periculozitate. Multe baterii conțin metale grele precum mercur, nichel, cadmiu și plumb, dar și acizi; toate acestea pot afecta grav solul și pânza de apă din subsol, mercurul fiind considerat atât de toxic încât utilizarea sa în baterii a fost interzisă aproape în toată lumea. (Singura excepție sunt bateriile pentru ceasurile de mână, pentru care cantitatea de mercur permisă este de maximum 2% din greutatea întregii baterii.)
      Aproape toate tipurile de baterii pot fi integral reciclate, scopul principal fiind evitarea poluării și recuperarea materialelor folosite. Printr-o directivă din 2006, statele Uniunii Europene au convenit să recicleze cel puțin 45% din totalul bateriilor vândute până în 2016.
   </p>
   <hr>
  </div>
</div>
    </div>
    <div class="col">
<div class="card border-success mb-3" style="max-width:40rem;">
  <div class="card-header">Metale/pag2</div>
  <div class="card-body text-success">
    <h5 class="card-title">Reducerea consumului</h5>
    <p class="card-text">Cum reducem consumul de baterii? Bateriile se reciclează în funcție de tipul acestora. Bateriile alcaline (cele
      obișnuite, de unică folosință, pentru telecomenzi, aparate foto, lanterne etc.) sunt 100% reciclabile, printr-un proces
      de separare mecanică a componentelor. Bateriile litiu-ion sunt reîncărcabile, 100% reciclabile, și se găsesc în
      calculatoare, aparate foto profesionale etc. Sunt reciclate prin separarea mecanică a plasticului de părțile metalice.
      Bateriile nichel-cadmiu (NiCd) și nichel metal hidrid (NiMH) sunt tot baterii obișnuite pentru aparate electronice mici
      ca telecomenzile. Primele sunt de unică folosință și au fost în mare măsură înlocuite de cele alcaline, în timp ce
      bateriile NiMH sunt reîncărcabile. Sunt 100% reciclabile, prin separarea plasticului de componentele metalice. Acestea
      din urmă (nichel, fier, mangan și crom) sunt la rândul lor topite; separarea lor se realizează grație faptului că toate
      aceste metale au puncte de topire diferite. La finalul proceselor metalurgice sau hidrometalurgice sunt extrase metale
      precum zinc, fier, acid, argint, mercur și altele.</p>
      <hr>
  </div>
</div>
    </div>
</div>
    </div>
  </div>
</div>




{% endblock %}



