{% extends "AntiRubbish/base.html" %}

{% load static %}

{% block content %}



<style>
  body{

      background: #5A3F37;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #2C7744, #2b6eca);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #2C7744, #2b6eca); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  }
</style>


<br>

<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
<div class="card border-success mb-3" style="max-width:40rem;">
  <div class="card-header">Plastic/pag1</div>
  <div class="card-body text-success">
    <h5 class="card-title">Problema in sine</h5>
    <p class="card-text">

      Problema cu sticlele de plastic, și nu numai, e ca ajung unde nu trebuie: în mari, în lacuri, la marginea pădurii.
      Faptul ca este de un material rezistent, deseori fabricat din PET (tereftalatul de polietilenă), îi i-a cam 700-800 de
      ani până începe să se descompună și se dezintegreze complet abia după circa 1.000 de ani. Puteți fi siguri că sticla pe
      care tocmai ați aruncat-o la coș va supraviețui intactă mai mult timp decât a trecut de la întemeierea Moldovei și a
      Țării Românești.
      Pe langa asta, fabricarea lor consta in obtinerea din titei, anume peste 150 de miliarde de litri, suficient cât să
      asigure benzina pentru o jumătate de milion de mașini, timp de un an întreg.
      Și noi, oamenii obișnuiți, putem participa la oprirea acestui val de plastic nereciclabil.
    </p>

  </div>
</div>
    </div>
    <div class="col">
<div class="card border-success mb-3" style="max-width:40rem;">
  <div class="card-header">Plastic/pag2</div>
  <div class="card-body text-success">
    <h5 class="card-title">Poluare</h5>
    <p class="card-text"> 
      Din cauză că nu există o modalitate ieftină de a recicla și reutiliza aceste deșeuri, nu mai este interesul de a
      identifica o soluție salvatoare, avand in vedere ca peste 90% din deșeurile din plastic sunt aruncate la groapa de gunoi
      sau incinerate.
      Odată cu reducerea cererii de autovehiculelor alimentate cu combustibili fosili, industria petrolieră va
      miza pe creșterea producției de plastic. De aceea, producția de plastic se va dubla până în aproximativ 2040, potrivit
      Agenției Internaționale pentru Energie din Paris.
      Situația nu este însă ireversibilă. Unele guverne au început să impună restricții. De exemplu, UE a adoptat directiva
      europeană privind interzicerea comercializării de articole și ambalaje din plastic de unică folosință.
</p>
  </div>
</div>
    </div>
    <div class="col">
<div class="card border-success mb-3" style="max-width:40rem;">
  <div class="card-header">Plastic/pag3</div>
  <div class="card-body text-success">
    <h5 class="card-title">Putem schimba ceva</h5>
    <p class="card-text">     
      Așa vom avea o Românie mai curată așa cum a fost în timpurile strămoșilor noștri.
      Uite aici cateva mici sfaturi cum am putea opri de-acasă chiar poluarea de plastic :
      Folosește o sacoșa de cumpărături. Renunțând la pungile de plastic din magazin, în supermarket sau la piață vei reduce
      considerabil aportul tău la poluarea mediului.
      Ia o sticlă de apă reutilizabilă
      Pregătește-ți prânzul acasă și pus la pachet în recipiente reutilizabile care nu conțin plastic. Astfel vei economisi
      bani, vei putea face alegeri mai sănătoase și vei evita să cumperi mâncarea din oraș pentru care se folosesc foarte
      multe ambalaje și tacâmuri de unică folosință de plastic.
      Depozitează mâncarea rămasă în recipiente de sticlă sau chiar borcanele de sticlă.</p>
  </div>
</div>
    </div>
  </div>
</div>

<style>

  body {
      font-family: 'Quicksand';font-size: 17px;
  }
  
  
  </style>

{% endblock %}
