{% extends "AntiRubbish/base.html" %}

{% load static %}

{% block content %}


<style>
    body {

        background: #5A3F37;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2C7744, #2b6eca);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2C7744, #2b6eca);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    }

    p {

        background-color: white;


    }
</style>

<p>
    Primul raport național privind prezența microplasticului în apele dulci din România
    16 dintre cele mai importante ape sunt poluate cu particule mici de plastic.
    tipurile de plastic reciclabil.
</p>



<div class="fixed-bottom">
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">

            <p class="card-text"><strong>



                    Probele au fost colectate din următoarele râuri și lacuri: Argeș – Vidraru și Oltenița; Bistrița
                    Aval – jud. Neamț; Dâmbovița – București și Joița; Dunăre – Orșova, Turnu-Măgurele și Galați;
                    Ialomița, jud. Ialomița; Mureș – Hațeg; Olt – Călimănești și Islaz; Prut – județul Iași; Siret
                    Galați; Someșul Mare – Bistrița; Someșul Mic – Cluj; Prut; Parcul Natural Văcărești Văcărești –
                    Izvor și Lac; Lacul Snagov; Lacul Bâtca Doamnei – Piatra Neamț; Lacul Razim – Constanța.



                </strong></p>
        </div>
    </div>

</div>
{% endblock %}

