{% extends "AntiRubbish/base.html" %}

{% load static %}

{% block content %}

<br>

<div class="container-fluid">
  <div class="card border-success mb-3"  style="max-width: 35rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-success">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
        1. Capitol ori subdiviziune de capitol dintr-un text de lege, dintr-un tratat, dintr-un statut etc.; prevedere, afirmație conținută într-o asemenea subdiviziune.
        
        2. Pasaj al unei lucrări despărțit de restul textului printr-un aliniat nou (și printr-un semn grafic special); fragment (unitar) dintr-un text care cuprinde o anumită idee.
        
        3. Semn grafic special care se pune într-o lucrare, într-un text etc. pentru a marca începutul unui capitol, al unui articol sau al unui aliniat. 

1. Capitol ori subdiviziune de capitol dintr-un text de lege, dintr-un tratat, dintr-un statut etc.; prevedere, afirmație conținută într-o asemenea subdiviziune.

2. Pasaj al unei lucrări despărțit de restul textului printr-un aliniat nou (și printr-un semn grafic special); fragment (unitar) dintr-un text care cuprinde o anumită idee.

3. Semn grafic special care se pune într-o lucrare, într-un text etc. pentru a marca începutul unui capitol, al unui articol sau al unui aliniat. 
      </p>
      <hr>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card border-success mb-3"  style="max-width: 20rem;">
    <div class="card-header">Header</div>
    <div class="card-body text-success">
      <h5 class="card-title">Success card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.
      </p>
      <hr>
    </div>
  </div>
</div>



{% endblock %}





